<style>
    .flex-container {
        margin-top:50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .flex-container > div {
        background-color: #f1f1f1;
        width: 350px;
        height: 450px;
        margin-bottom: 50px;
        min-width: 300px;
        text-align: center;
    }
</style>


@{
    ViewData["Title"] = "Badges";
}

<h2>Badges</h2>

<div class="flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>
<!--Test-->
