@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welkom bij Zvezda Militaria</h1>
    <h4>Wij specialiseren ons in ordes, medailles en badges van de voormalige Sovjet-Unie, welke voornamelijk uit de Tweede Wereldoorlog komen.</h4>
</div>
